/* Configurações inciais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e8eb;
}

.background-color {
  background-color: rgb(26, 72, 139);
  width: 100%;
  height: 30vh;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1),
    inset 0px 1px 22px 11px rgba(255, 255, 255, 0.05),
    inset 0px 2px 24px 13px rgba(35, 93, 231, 0.08);
}

.container {
  margin-left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  
}
.muralContainer{
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
.titulo h1{
  position: absolute;
  font-size: 3rem;
  color: #fff;
  left: 45%;
  top: 10%;
  border-bottom: 2px solid #fff;
}

/* Textos das box's */
.muralAvisos {
display: flex;
flex-direction:column ;
text-align: left; 
padding: 50px;
margin-bottom: 50px;
border-radius: 20px 20px 0px 0px;
border-bottom: 10px solid #bc0d0d;
background-color: #191919	;
letter-spacing: 2px;
width: 150%;
height: 100%;
}
.muralAvisos p {
  color: #fff;
  font-size: 20px;
}
.muralAvisos .spanAvisos {
  color: #fff;
  font-weight: bold;
}
.vermelho{
  border-bottom: 10px solid #bc0d0d;
}
.amarelo{
  border-bottom: 10px solid #EAB200;
}
.verde{
  border-bottom: 10px solid #CCFF33;
}

/* Categorias */

.categoriasAvisos{
display: flex;
position: relative;
right: -18.3%;
flex-direction: column;
color: #fff;
justify-content: top;
align-items: center;
text-align: left;
margin: 50px;
padding: 50px;
border-radius: 20px;
background-color: #1a1919	;
letter-spacing: 1px;
height: 100%;
}
.setores-titulo{
  margin-bottom: 2rem;
}
.categoriasAvisos img{
  width: 50px;
}
.setores{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.setores h2{
  margin-left: 50px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid #fff;
}
.setores a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 25px;
  transition: 0.4s;
  justify-content: space-between;
  
}
.setores a:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 25px 5px rgba(0,0,0,0.16);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s;
}